body {
    font-family: sans-serif;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.pageFrame {
    max-width: 1440px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1f2937;
    padding: 10px 210px;
}
.logoText {
    font-size: 24px;
    color: #f9faf8;
}
.dashboard {
    display: flex;
    gap: 20px;
}
.pagelink {
    text-decoration: none;
    color: #e5e7eb;
}


.bluePanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0px;

    background-color: #1f2937;
    padding: 120px 210px;
}
.bluePanel .left{
    flex: 1;
}
.bluePanelTitle {
    color: #f0faf9;
    font-weight: 900;
    font-size: 48px;
}
.signUpLink {
    text-decoration: none;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 25px;
    border-radius: 5px;
}
.bluePanel .right {
    flex: 1;
}
.bluePanel img {
    background-color: gray;
    text-align: center;
    color: #e5e7eb;
}


.whitePanel {
    background-color: white;
    margin: 0px;
    padding: 50px 210px;

    display: flex;
    flex-direction: column;
}
.whitePanel .subsectionTitle {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.tileArea {
    padding: 50px 100px;

    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-evenly;
    gap: 50px;
}
.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: 4px solid #3882f6;
    border-radius: 16px;
    min-height: 160px;
    min-width: 160px;
    max-height: 160px;
    max-width: 160px;
}
.tile p {
    color: #1f2937;
    text-align: center;
}


.grayPanel {
    background-color: #e5e7eb;
    padding: 120px 300px 100px 300px;
}
.bigQuote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}
.bigQuoteCredit {
    color: #1f2937;
    font-weight: 700;
    text-align: right;
    font-size: 24px;
    margin: 10px 60px 0px 0px;
}